# {{ ansible_managed }}

{% if item.1.aliases is defined %}
{% for alias in item.1.aliases %}
{% if alias.user is defined and alias.email is defined %}
{{ alias.user }}: {{ alias.email }}
{% endif %}
{% endfor %}
{% endif %}
