{% if item.name == 'default' %}
# {{ ansible_managed }}

defaults

{% endif %}
account {{ item.name }}

{% set fields = [
  'host',
  'port',
  'timeout',
  'proxy_host',
  'proxy_port',
  'protocol',
  'domain',
  'auth',
  'user',
  'password',
  'passwordeval',
  'ntlmdomain',
  'tls',
  'tls_starttls',
  'tls_trust_file',
  'tls_crl_file',
  'tls_fingerprint',
  'tls_key_file',
  'tls_cert_file',
  'tls_certcheck',
  'tls_min_dh_prime_bits',
  'tls_priorities',
  'from',
  'auto_from',
  'maildomain',
  'dsn_notify',
  'dsn_return',
  'add_missing_from_header',
  'add_missing_date_header',
  'remove_bcc_headers'
] %}
{% for field in fields %}
{% if item[field] is defined %}
{{ field }} {{ item[field] }}
{% endif %}
{% endfor %}

{% if item.log is defined %}
{% if item.log == 'syslog' and item.syslog_facility is defined %}
syslog {{ item.syslog_facility }}
{% elif item.log == 'file' and item.logfile is defined %}
logfile {{ item.logfile }}
{% endif %}
{% endif %}

aliases /etc/msmtp/aliases{{ (item.name == 'default') | ternary('.000.', '.') }}{{ item.name }}

